Repository ch2holding/portfolio-finances: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, biome format --write

feat: [FIN-004][CORE-004] Instalação e configuração do Tailwind + Shadcn/UI
  src/app/layout.tsx
  src/styles/default.css
  src/styles/globals.css
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: [FIN-005][CORE-005] Firebase & Firestore inicial (Admin + Client)
  docs/ARCHITECTURE.md
  docs/firebase.md
  src/lib/firebase/firestore.admin.ts
  src/lib/firebase/firestore.client.ts
  src/lib/firebase/types.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: [FIN-006][AUTH-001] Configurar NextAuth com Firebase Adapter
  middleware.ts
  src/app/api/auth/[...nextauth]/route.ts
  src/app/auth/error/page.tsx
  src/app/dashboard/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/components/auth/AccessControl.tsx
  src/components/auth/AccessDenied.tsx
  src/components/auth/LoginButton.tsx
  src/components/auth/UserInfo.tsx
  src/components/base/LocaleSwitcher.tsx
  src/components/base/LocaleSwitcherSelect.tsx
  src/components/base/Providers.tsx
  src/components/base/ThemeToggle.tsx
  src/components/base/TranslationClient.tsx
  src/components/base/i18nProvider.tsx
  src/components/layout/Header.tsx
  src/components/ui/dropdown-menu.tsx
  src/constants.ts
  src/i18n/config.ts
  src/i18n/messages.ts
  src/i18n/request.ts
  src/lib/auth.ts
  src/lib/utils.ts
  src/messages/en.json
  src/messages/pt-BR.json
  src/services/locale.ts
  src/types/common.ts
  src/utils/boolean.ts
  src/utils/date.ts
  src/utils/object.ts
  src/utils/string.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, biome format --write

feat: [FIN-008][CORE-006] Configurar Firestore Rules (base segura multi-usuário)
  .firebaserc
  firebase.json
  firestore.indexes.json
  package.json
Due: biome format --write

feat: [FIN-009][CORE-007] Gestão de Variáveis de Ambiente (.env, .env.example, validação)
  .env.example
  .gitignore
  docs/CONFIGURATION.md
  src/app/layout.tsx
  src/config/env.ts
  src/config/validate-env.ts
  src/lib/auth.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: [FIN-010][CORE-008] Scripts de DX (lint, typecheck, build, analyze)
  docs/BUNDLE_ANALYSIS.md
  next.config.ts
  package.json
  pnpm-lock.yaml
  scripts/analyze-bundle.js
  scripts/check-ssr-safe.js
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, biome format --write

feat: [FIN-011][CORE-009] Logger e Error Boundary (client/server) + Observabilidade básica
  biome.json
  docs/LOGGING_CONVENTIONS.md
  package.json
  pnpm-lock.yaml
  scripts/analyze-bundle.js
  src/app/dashboard/error.tsx
  src/components/ui/alert.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/chart.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/components/ui/skeleton.tsx
  src/components/ui/sonner.tsx
  src/lib/logger.ts
  src/lib/safe-error.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, biome format --write

feat: [FIN-012][CORE-010] Documentação de Arquitetura (ADR + README de módulos)
  CONTRIBUTING.md
  README.md
  docs/ADR-0001-arquitetura-base.md
Due: none

feat: [FIN-013][CORE-011] Healthcheck & Smoke Tests (SSR-safe) + Page 404/500
  README.md
  next.config.ts
  package.json
  scripts/smoke-test.js
  src/app/error.tsx
  src/app/health/route.ts
  src/app/not-found.tsx
  src/messages/en.json
  src/messages/pt-BR.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, biome format --write

build: add dockerfile
  .dockerignore
  .gitignore
  Dockerfile
  middleware.ts
  next.config.ts
  package.json
  src/app/api/health/route.ts
  src/components/auth/AccessControl.tsx
  src/config/env.ts
  src/config/validate-env.ts
  src/lib/auth.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, biome format --write

Path conditions:
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{js,jsx,ts,tsx}
  biome format --write: any of: *.{json,jsonc}
